/.metadata/

# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

#WebStorm Settings
*.idea

#Class submission format
*.zip

#Fuck Mac
*.DS_Store

#All Example Classwork Code
example*
SampleServlet/
Servers/

#PDF ... No idea why professor can't just look at raw jpegs
*.pdf
